<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Muokkaa harjoituksen tietoja</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div class="row" style="margin-top: 20px">
			<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
				<form th:object="${editRehearsal}" th:action="@{/update}" action="#"
					method="post">
					<fieldset>
						<h1>Muokkaa tietoja</h1>
						
						<div class="input-group"> 
							<input type="hidden" id="name" th:field="*{id}"/>
						</div>
						
						<div class="input-group">
							<label for="name">Nimi</label> <input type="text" id="name"
								th:field="*{name}" class="form-control input-lg" required="true" />
						</div>

						<div class="input-group">
							<label for="date">Pvm</label> <input type="text" id="date"
								th:field="*{date}" class="form-control input-lg" required="true"/>
						</div>

						<div class="input-group">
							<label for="time">Aika</label> <input type="text" id="time"
								th:field="*{time}" class="form-control input-lg" required="true"/>
						</div>

						<div class="input-group">
							<label for="place">Paikka</label> <input type="text" id="place"
								th:field="*{place}" class="form-control input-lg" required="true"/>
						</div>

						<div class="input-group">
							<label for="notes">Nuotit</label> <input type="text" id="notes"
								th:field="*{notes}" class="form-control input-lg" required="true"/>
						</div>

						<div class="input-group">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<input type="reset" class="btn btn-lg btn-success" style="" value="Tyhjennä kentät"></input>
								<input type="submit" class="btn btn-lg btn-success" style="" value="Tallenna"></input>
								<button class="btn btn-success" href="/rehearsalList">Takaisin listaukseen</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</body>
</html>