<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Harjoitukset</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
	<div class="row" style="margin-top: 10px">
	<h2 th:inline="text">Tervetuloa [[${#httpServletRequest.remoteUser}]]!</h2>
	</div>
		<div class="row" style="margin-top: 20px">
				<h1>Harjoitukset</h1>
				<table class="table table-striped">
					<tr>
						<th>Nimi</th>
						<th>Pvm</th>
						<th>Aika</th>
						<th>Paikka</th>
						<th>Nuotit</th>
					</tr>
					<tr th:each="rehearsal : ${rehearsals}">
						<td th:text="${rehearsal.name}"></td>
						<td th:text="${rehearsal.date}"></td>
						<td th:text="${rehearsal.time}"></td>
						<td th:text="${rehearsal.place}"></td>
						<td th:text="${rehearsal.notes}"></td>
						<td>
							<a th:href="@{/delete/{id}(id=${rehearsal.id})}" class="btn btn-danger">Poista</a>
						</td>
						<td>
							<a th:href="@{/edit-rehearsal-data/{id}(id=${rehearsal.id})}" class="btn btn-success">Muokkaa</a>
						</td>
					</tr>
				</table>
				<a href="/add" class="btn btn-success" style="margin: 10px">Luo harjoitus</a>
				<form th:action="@{/logout}" method="post">
					<input type="submit" style="margin: 10px" class="btn btn-primary" value="Kirjaudu ulos"/>
				</form>
			</div>
		</div>
</body>
</html>